<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Listado de procesos</h1>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Procesos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>No. </th>
                                    <th>Nombre del proceso</th>
                                    <th>Fecha de creación</th>
                                    <th>Estado</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Proceso 1</td>
                                    <td>20/06/2020</td>
                                    <td>En Revisión</td>
                                    <td>ver, modificar, eliminar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Proceso 2</td>
                                    <td>25/06/2020</td>
                                    <td>Rechazado</td>
                                    <td>ver, modificar, eliminar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Proceso 1</td>
                                    <td>03/07/2020</td>
                                    <td>Aprobado</td>
                                    <td>ver, modificar, eliminar</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>No. </th>
                                    <th>Nombre del proceso</th>
                                    <th>Fecha de creación</th>
                                    <th>Estado</th>
                                    <th>Accion</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


    <!-- /.content -->
</div>
<!-- /.content-wrapper -->